<li class="movie">
  <h3><%= link_to movie.title, movie %></h3>
  <p>Directed by <span class="thick-text"><%= movie.director_names %></span></p>
  <p>Script by <span class="thick-text"><%= movie.writer %></span></p>
  <p>Starring <span class="thick-text"><%= movie.starring_actors_names %></span></p>
  <p>Genre <span class="thick-text"><%= movie.genre_names %></span></p>
</li>